/* iCheck plugin Flat skin, monitor
----------------------------------- */
.icheckbox_flat-monitor{
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding:0;
    width: 37px;
    height: 35px;
    background: url(monitor.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-monitor {
    background-position: 0 0;
}
    .icheckbox_flat-monitor.checked {
        background-position: -37px 0;
    }
    .icheckbox_flat-monitor.disabled {
        background-position: -74px 0;/*background-position指定的是背景图片的左上角&容器元素的左上角的坐标偏移*/
        cursor: default;
    }
    /*.icheckbox_flat-monitor.checked.disabled {
        background-position: -66px 0;
    }*/


/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_flat-monitor,
    .iradio_flat-monitor {
        background-image: url(monitor@2x.png);
        -webkit-background-size: 74px 35px;
        background-size: 74px 35px;
    }
}